@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#excuse{
    font-size: large;
    font-weight: bold;
}